h1 {
    /* text color changed to purple */
    color: purple;

    /* text centered on webpage */
    text-align: center;
}

#nepal-video {
    /* text-align: center; */
    display: block;
    margin: 0 auto;
}