h1 {
    /* text color changed to purple */
    color: purple;

    /* text centered on webpage */
    text-align: center;
}

#nepal {
    /* main div of entire nepal section */
    text-align: center;
}

#nepal-title {
    /* nepal styling title */
    font-size: 20px;
}

#nepal-video {
    /* nepal styling video */
    height: 450px;
    width: 450px;
    border: black;
}