h1 {
    /* text color changed to purple */
    color: purple;

    /* text centered on webpage */
    text-align: center;
}

#nepal {
    /* main div of entire nepal section */
    text-align: center;
}

#nepal-title {
    /* nepal styling title */
    font-size: 20px;
}

#nepal-video {
    /* nepal styling video */
    /* inline block allows inline elements to have their height & width set in CSS */
    /* Some inline elements (for example, the <img>) are replaced inline elements and can be given width and height without changing them into inline-block elements. */
    /* The object-fit property has no effect on <iframe>, <embed>, and <fencedframe> elements. */
    display: inline block;
    height: 450px;
    width: 450px;
    border: black;
}